.MainChat
  .GroupHeader
    .GroupHeader__info
      .GroupHeader__groupname
        sample
      %ul.GroupHeader__memberlist
        Member :
        %li.GroupHeader__member
          sample
    .GroupHeader__edit
      = link_to "#", class: "GroupHeader__editbutton" do
        Edit

  .MessageList
    .MessageBox
      .MessageBox__info
        .MessageBox__info__username
          test
        .MessageBox__info__date
          2020年6月29日 18時18分
      .MessageBox__message
        %p.MessageBox__message__content
          こんにちは よろしくよろしく
          
    .MessageBox
      .MessageBox__info
        .MessageBox__info__username
          test2
        .MessageBox__info__date
          2020年6月29日 18時33分
      .MessageBox__message
        %p.MessageBox__message__content
          こんにちは よろしく--
    
  .MessageForm
    %form.new_message
      .input_box
        %input{type: "text", class:"input_box__text",placeholder:"type a message"}
        %label{class:"input_box__image"}
          = icon('fas','image', class:"image-icon")
          %input{type: "file", class:"input_box__image__file"}
      %input{type: "submit", class: "submit-btn",value:"send"}